body {
  font-family: 'Rubik', sans-serif;
  min-width: 370px;
  width: 100%;
  max-width: 700px;
  display: inline-block;
  position: absolute;
}

#add-btn:hover {
  background: #fafafa;
}

#page-wrapper {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#add-btn {
  padding: 5px;
  border: none;
  margin: 0px;
  align-self: baseline;
  margin-top: auto;
  margin-left: 10px;
}

#share-zone button {
  margin: 5px 0px;
}