body {
  font-family: 'Rubik', sans-serif;
  min-width: 370px;
  width: 100%;
  max-width: 700px;
  display: inline-block;
  position: absolute;
  background: #8a2be2;
  color: #fafafa;
}

h2 {
  font-weight: 300;
}

#ingredient-items p, #amount-items p {
  height: 20px;
  margin-bottom: 35px;
}

input {
  margin: 5px 10px 5px 0px;
  height: 28px;
  padding: 0px 7px;
}

input, button {
  border: black solid 1px;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
}

button {
  color: black;
}

#add-btn:hover {
  background: #fafafa;
}

#page-wrapper {
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

#add-btn {
  padding: 5px;
  margin: 0px;
  align-self: baseline;
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
}

#share-zone button {
  margin: 5px 0px;
  width: 100%;
  border: none;
  background: #60992D;
  height: 40px;
  font-size: 16px;
}

#success-text {
  visibility: hidden;
}