body {
  font-family: 'Rubik', sans-serif;
  min-width: 370px;
  width: 100%;
  max-width: 700px;
  display: inline-block;
  background: #8a2be2;
  color: #fafafa;
  position: relative;
  min-height: 100vh;
  margin: 0px;
}

h2 {
  font-weight: 300;
}

#ingredient-items p,
#amount-items p {
  height: 20px;
  margin-bottom: 35px;
}

input {
  margin: 5px 10px 5px 0px;
  height: 28px;
  padding: 0px 7px;
}

input,
button {
  border: black solid 1px;
  border-radius: 5px;
  font-family: 'Rubik', sans-serif;
}

button {
  color: black;
}

#add-btn:hover {
  background: #fafafa;
}

#page-wrapper {
  margin: 15px;
  padding-bottom: 2.5rem;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.row .column:nth-of-type(1),
.row .column:nth-of-type(2) {
  min-width: 120px;
}

.row .column:nth-of-type(3) {
  max-width: 50px;
}

#add-btn {
  padding: 5px;
  margin: 0px;
  align-self: baseline;
  margin-top: auto;
  margin-left: 10px;
  margin-bottom: 5px;
  width: 30px;
  height: 30px;
}

#share-zone,
#clear-zone {
  margin-right: 10px;
}

#share-zone button,
#clear-zone button {
  margin: 5px 0px;
  width: 100%;
  border: none;
  background: #60992D;
  height: 40px;
  font-size: 16px;
}

#clear-zone button {
  background: #ff5252;
}

#success-text {
  visibility: hidden;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-left: 0px;
}

/* FOOTER */
#footer ul {
  list-style-type: none;
  display: inline;
  color: #eee;
  padding-left: 15px;
  font-size: .9rem;
  width: 100%;
}

#footer ul li {
  display: inline;
  margin-right: 25px;
}

#footer ul li a {
  color: #eee;
}

/* RESPONSIVE */

@media (max-width: 500px) {
  #page-wrapper {
    margin: 10px 3px 10px 10px;
  }

  .row .column:nth-of-type(3) {
    max-width: 40px;
  }

  #add-btn {
    margin-left: 0px;
  }
}